::before,
::after{
    box-sizing: border-box;
}

html {
scroll-behavior: smooth;
}
body{
font-size :16px;
line-height: 28px;
font-family :"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.mg-top{
margin-top: 10px;
}
.flex{
display:flex;
justify-content:space-between;

}
nav{
text-align: center;
}
.nav1,.nav2 > ul
{
display:flex;
justify-content:space-between;
align-items:center;
list-style: none;
}
.nav2{
background-color:#f5f5f5;
height:50px;
text-align:center;
padding:5px;
font-weight:700;
font-size:18px;

}
.nav3   { 
font-weight:700;
font-size:18px;    
margin-top:25px;
height:50px;                                                                                                 
display:flex;
}
.nav3 > *{
text-align: center;
padding:10px;
}
.search-bar{
position: relative;
background-color: #fff;
width:300px;
height:30px;
border-color: chocolate;
border-radius: 18px;
}
.button{
width:100px;
height:30px;
margin-top:9px;
cursor:pointer;
background-color:white;
border-color:chocolate ;
color:chocolate;
font-size:17px;
}
main{
width:85%;
margin-left: auto;
margin-right: auto;
margin-top: 5px;
}
.change-inside{
height: 31px;
border: 2px solid  gainsboro;

padding: 3px;
width: 100%;
margin-top: -10px;
border-radius: 0.5rem;
color:darksalmon;
}
h3{
font-size: 20px;
}
span{
color:rgb(50, 50, 192);
margin:4px;
}
.main-section{
max-width: 200px;
font-size: 13px;

}
td,th{
/* word-wrap: break-word; */
/* max-width: 90px; */
padding:4px;
}

td {
border: 0.1px ridge #999;
text-align: center;
padding:2px;
}
td:nth-child(2),
td:nth-child(3),
td:nth-child(4),
td:nth-child(5),
td:nth-child(6),
td:nth-child(7),
td:nth-child(8),
td:nth-child(11),
td:nth-child(9),
td:nth-child(10){
background-color:rgba(252, 239, 208, 0.69);
}
td:nth-child(6),
td:nth-child(12),
td:nth-child(18){
color:blue;
}
td:nth-child(7),
td:nth-child(17){
color:red;
}

th{
border: 1px solid rgb(248, 242, 242);
background-color:rgb(58 45 125);
color:white;  
/* font-size:20px; */
text-align: center;
} */
tr:nth-child(1){
border:none;
}
.Note > ul > * {
list-style: square;
line-height: 30px;
}
.underline{
border: 2px solid darkblue;
position: absolute;
width: 66px;

}
.footer-element div > ul{
list-style: none;
line-height: 34px;
font-size:18px;
}
.footer-element{
justify-content: space-around;
background-color:#e7e7f7;
}
.footer-element  h2 {
color:rgb(58 45 125);
}
.footer-element div:nth-child(4) > ul > *{
color: #fd7e14;
}